%animateBorder {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	transition: border-left-color 0.2s ease, border-top-color 0.2s 0.06s ease,
		border-right-color 0.2s 0.12s ease;
	&:focus {
		border-color: black;
	}
}

%textOverflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

%flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

%fullSize {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
