@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	font-weight: 100;
	user-select: none;
	font-family: 'Dosis', sans-serif;
	// font-family: 'Raleway', sans-serif;
	-webkit-tap-highlight-color: transparent;
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb {
		width: 0;
	}
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

button {
	outline: none;
	border: none;
}

ul {
	list-style-type: none;
}

a {
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: transparent;
	}
}

input {
	outline: none;
}
