@import 'config';
@import 'reset';

:root {
	--nav-width: 5rem;
}

* {
	transition: all 0.3s ease;
}

%animateBorder {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	transition: border-left-color 0.2s ease, border-top-color 0.2s 0.06s ease,
		border-right-color 0.2s 0.12s ease;
	&:focus {
		border-color: black;
	}
}

.box {
	position: fixed;
	inset: 0;
	perspective: 350px;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.75);
	transition: all 0.3s ease;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	&.active {
		opacity: 1;
		z-index: 100;
	}

	.plane {
		width: 8rem;
		height: 8rem;
		transform: rotate(0);
		background-color: #fc2f70;
		animation: flip 0.6s infinite;
	}
}

#app {
	height: 100vh;
	display: flex;
	&.isAuth {
		.log-in-container {
			display: none;
		}
		nav {
			display: block;
		}
		.main {
			display: block;
		}
	}

	* {
		font-size: 2.5rem;
	}

	.log-in-container {
		position: fixed;
		inset: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background: $grdi17;
		z-index: 10;

		* {
			font-size: 2rem;
		}
		.title {
			position: relative;
			font-weight: 600;
			font-size: 5rem;
			color: white;
			margin: 1rem;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				height: 0.5rem;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
				background-color: white;
			}
		}
		.pass-container {
			position: relative;
		}
		label {
			&.pass-mode {
				position: absolute;
				right: -3.2rem;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3.2rem;
				height: 3.2rem;
				border-radius: 50%;
				background-color: white;

				& > .show {
					display: none;
				}
				& > .hide {
					display: block;
				}

				&.show {
					& > .show {
						display: block;
					}
					& > .hide {
						display: none;
					}
				}
			}
		}
		input {
			padding: 1rem 2rem;
			margin: 1rem;
			max-width: 20rem;
			max-height: 10rem;
			border: none;
			outline: none;
			font-weight: 500;
			border-radius: 4rem;
			text-align: center;
		}
		button {
			margin: 1rem;
			width: 10rem;
			height: 5rem;
			padding: 1rem;
			border-radius: 4rem;
			background: $grdi1;
			font-weight: 600;
			color: white;
			span {
				font-weight: 500;
			}
		}
		.err-msg {
			padding: 1rem;
			margin: 0.5rem;
			display: none;
			color: white;
			background: rgb(235, 46, 46);
			border-radius: 3rem;
			&.isErr {
				display: block;
			}
		}
	}
	nav {
		position: relative;
		top: 0;
		left: 0;
		height: 100vh;
		display: none;
		overflow: hidden auto;
		min-width: var(--nav-width);
		.user {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			.ava {
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				i {
					font-size: 3rem;
				}
			}
			.name {
				padding: 1rem;
				font-weight: 600;
				display: none;
				@include Responsive($SM) {
					display: block;
				}
			}
		}
		ul {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 1rem;
			li {
				cursor: pointer;
				width: 90%;
				min-width: 5rem;
				padding: 1rem;
				min-height: 5rem;
				text-align: center;
				color: white;
				background-color: rgb(134, 134, 218);
				border-radius: 3rem;
				display: flex;
				align-items: center;
				justify-content: start;
				&.active {
					background-color: rgb(255, 217, 223);
					color: black;
				}
				& + li {
					margin-top: 2rem;
				}

				i {
					margin: 0 0.25rem;
					@include Responsive($SM) {
						margin: 0 1rem;
					}
				}
				span {
					display: none;
					@include Responsive($SM) {
						display: block;
					}
				}
			}
		}

		&.mini {
			--nav-width: 5rem;
			ul li {
				i {
					margin: 0 0.3rem;
				}
				span {
					display: none;
				}
			}
		}
		@include Responsive($SM) {
			--nav-width: 20rem;
		}
	}
	.main {
		position: relative;
		top: 0;
		height: 100vh;
		padding: 2rem;
		width: calc(100% - var(--nav-width));
		overflow: hidden auto;
		display: none;
		section {
			position: relative;
			padding: 1rem;
			display: block;
			margin-bottom: 10rem;
			&.hide {
				display: none;
			}

			h2 {
				text-align: center;
				font-weight: 600;
				font-size: 4rem;
				display: flex;
				align-items: center;
				justify-content: center;
				i {
					margin: 1rem;
					font-size: 3.7rem;
				}
			}
			input {
				&::placeholder {
					font-style: italic;
				}

				&.search-bar {
					border-radius: 3rem;
					margin-top: 1.5rem;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					padding: 1rem 1.6rem;
					@extend %animateBorder;
				}
			}
			.add-btn {
				position: relative;
				width: 4.4rem;
				height: 4.4rem;
				border-radius: 50%;
				margin: 1rem auto;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					background-color: rgb(236, 236, 236);
				}
			}
			.content {
				padding: 1rem;
				display: flex;
				align-items: center;
				justify-content: start;
				flex-direction: column;
				&-item {
					border: 5px solid transparent;
					border-radius: 3rem;
					width: 100%;
					padding: 2rem 0;
					margin-top: 2rem;
					&:hover,
					&.active {
						border-color: lightcoral;
					}
					& + .content-item {
						margin-top: 5rem;
					}

					form {
						position: relative;
						padding: 1rem;
						display: flex;
						align-items: center;
						flex-direction: column;

						input {
							padding: 0.6rem 1.2rem;
							margin: 0.5rem;
							width: 90%;
							@extend %animateBorder;
							@include Responsive($SM) {
								max-width: 30rem;
							}
						}
						button {
							border-radius: 2rem;
							position: absolute;
							cursor: pointer;
							bottom: -6rem;
							margin: 1rem;
							padding: 1rem;
							display: flex;
							align-items: center;
							justify-content: center;
							&,
							i {
								transition: all 0.3s ease;
							}

							&.edit {
								i {
									display: none;
								}
								i[class*='edit'] {
									display: block;
								}
							}
							&.sync {
								i {
									display: none;
								}
								i[class*='sync'] {
									display: block;
								}
							}
							&.success {
								background-color: rgb(103, 233, 103);
								color: white;
								i {
									display: none;
								}
								i[class*='success'] {
									display: block;
								}
							}
							&.fail {
								background-color: rgb(255, 122, 122);
								color: white;
								i {
									display: none;
								}
								i[class*='fail'] {
									display: block;
								}
							}

							i {
								margin-right: 0.6rem;
							}
						}

						@include Responsive($SM) {
							flex-flow: row wrap;
							justify-content: center;
						}
					}

					@include Responsive($SM) {
						max-width: 72rem;
					}
				}
			}
		}
	}
}

.spin {
	animation: spinAni 2s linear infinite;
}

@keyframes flip {
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(180deg) rotateX(180deg);
	}
}
@keyframes spinAni {
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(0);
	}
}
