@import 'config';
@import 'reset';

:root {
	--nav-width: 5rem;
}

* {
	transition: all 0.3s ease;
}

%animateBorder {
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	transition: border-left-color 0.2s ease, border-top-color 0.2s 0.06s ease,
		border-right-color 0.2s 0.12s ease;
	&:focus {
		border-color: black;
	}
}

#app {
	height: 100vh;
	display: flex;
	&.isAuth {
		.log-in-container {
			display: none;
		}
		nav {
			display: block;
		}
		.main {
			display: block;
		}
	}

	* {
		font-size: 2.5rem;
	}

	.log-in-container {
		position: fixed;
		inset: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.7);

		* {
			font-size: 2rem;
		}
		input {
			margin: 1rem;
			padding: 1rem;
			max-width: 30rem;
			max-height: 10rem;
			border-radius: 4rem;
		}
		button {
			margin: 1rem;
			width: 10rem;
			height: 5rem;
			padding: 1rem;
			border-radius: 4rem;
		}
		.err-msg {
			padding: 1rem;
			margin: 0.5rem;
			display: none;
			color: white;
			background: rgb(235, 46, 46);
			border-radius: 3rem;
			&.isErr {
				display: block;
			}
		}
	}
	nav {
		position: relative;
		top: 0;
		left: 0;
		height: 100vh;
		display: none;
		overflow: hidden auto;
		min-width: var(--nav-width);
		&.mini {
			--nav-width: 5rem;
			ul li span {
				display: none;
			}
		}

		.user {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			.ava {
				min-width: 4rem;
				min-height: 4rem;
				border-radius: 50%;
				background-color: red;
			}
			.name {
				padding: 1rem;
				font-weight: 600;
				display: none;
				@include Responsive($SM) {
					display: block;
				}
			}
		}

		ul {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 1rem;
			li {
				cursor: pointer;
				width: 90%;
				min-width: 5rem;
				padding: 1rem;
				min-height: 5rem;
				text-align: center;
				color: white;
				background-color: rgb(43, 43, 199);
				border-radius: 3rem;
				& + li {
					margin-top: 2rem;
				}

				span {
					display: none;
					@include Responsive($SM) {
						display: block;
					}
				}
			}
		}

		@include Responsive($SM) {
			--nav-width: 18rem;
		}
	}
	.main {
		position: relative;
		top: 0;
		height: 100vh;
		padding: 2rem;
		width: calc(100% - var(--nav-width));
		overflow: hidden auto;
		display: none;
		section {
			position: relative;
			padding: 1rem;
			display: block;
			margin-bottom: 3rem;
			&.hide {
				display: none;
			}

			h2 {
				text-align: center;
				font-weight: 600;
				font-size: 4rem;
			}
			input {
				&::placeholder {
					font-style: italic;
				}

				&.members-search {
					margin-top: 1.5rem;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					padding: 0.4rem 1rem;
					border-radius: 3rem;
					@extend %animateBorder;
				}
			}

			.content {
				padding: 1rem;
				.member-item {
					border: 5px solid transparent;
					border-radius: 3rem;
					padding: 2rem 0;
					margin-top: 2rem;
					&:hover,
					&.active {
						border-color: lightcoral;
					}
					& + .member-item {
						margin-top: 5rem;
					}

					form {
						position: relative;
						padding: 1rem;
						display: flex;
						align-items: center;
						flex-direction: column;

						input {
							padding: 0.6rem 1.2rem;
							margin: 0.5rem;
							width: 80%;
							@extend %animateBorder;
							@include Responsive($SM) {
								max-width: 30rem;
							}
						}
						button {
							position: absolute;
							bottom: -6rem;
							margin: 1rem;
							padding: 1rem;
							cursor: pointer;
							border-radius: 2rem;
							&.fulfilled {
								background-color: rgb(103, 233, 103);
								color: white;
							}
							&.rejected {
								background-color: rgb(255, 122, 122);
								color: white;
							}
						}

						@include Responsive($SM) {
							flex-flow: row wrap;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}
